
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>


  </head>

  <body>

    <div id="emailform">

    </div>

    <form action="/submit" method="post">
        Input task here:
    <input type="text" name="todo"></input> <br>
        Input email here:
    <input type="text" name="email"></input> <br>




    <select name="priority">
        <option value="high">High</option>
        <option value="medium">Medium</option>
        <option value="low">Low</option>
        <option value="none">None</option> <!--This is only added to test valid input as indicated in assignment instructions-->
    </select>

        <input type="submit" value="Add To Do Item"></input>
    </form>

  <p>Current Todo List Items:</p>
    <ul>
      {% for item in todoList %}
      <li> Task: {{ item[0] }} | Email: {{ item[1] }} | Priority: {{ item[2] }}</li>
      {% endfor %}
    </ul>
    <p>Let's Get to Work!</p>

  <form action="/clear" method="post">
      Clear list?
      <input type="submit" value="Clear"></input>
  </form>

  </body>
</html>